<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">This page does not exist. Please press the button below to return to the Home Page.</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>

</div>