@model Cinema

@{
    ViewData["Title"] = "Cinema Info";
}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="text-center">
            <h4>Details for @Model.Name</h4>
        </div>
        <div class="row">
            <div>
                <div class="mb-1 text-center">
                    <img src="~/Images/@Model.Logo" class="w-100 h-100" alt="@Model.Name">

                </div>
                <div class="mb-1">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-1">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    }

                    <a class="btn btn-outline-secondary" asp-action="Index">Show All </a>
                </div>
            </div>
        </div>
    </div>
</div>


