@model Producer

@{
    ViewData["Title"] = "View Producer Details";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <h4>Details for @Model.FullName</h4>
        </div>
        <div class="row">
            <div>
                <div class="mb-1 text-center">
                    <img src="~/Images/@Model.ProfilePicture"  class="border-info rounded-circle" style="max-width:150px" />

                </div>

                <div class="mb-1">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label asp-for="Biography" class="control-label"></label>
                    <textarea asp-for="Biography" class="form-control" readonly > </textarea>
                    <span asp-validation-for="Biography" class="text-danger"></span>
                </div>

                <div class="mb-1">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    }
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All </a>
                </div>
            </div>
        </div>
    </div>
</div>


